.calculator {
    text-align: center;
    margin: 20px auto; 
    border-radius: 4px; 
    width: 100%; 
    max-width: 400px;  
    padding: 10px 40px;
    box-shadow: var(--box-shadow);
}

.calculator>h2 {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 2rem;
} 
.input-value {
    display: flex; 
    align-items: center;
    justify-content: center;
}
.select-operator select {
    padding: 10px;
    margin: 5px 0;
}